# Scrum Session - intro to GitHub v1

|Tech&Data Databases|
|-------------------|
|Aura Datamart|
|MAC|
|EDF|
|Phoenix|
|Prism|
|ETP|
|Commercial|

### GROUP TASK 1: Where do we use SQL queries / Java Script in our team?

**SQL:**

- Alteryx
- Powerbi
- 
-
-

**JS:**

- Apps Script - > Office scripts
-

In [2]:
#In Command Prompt, run "py -m pip install pyodbc" and then "py -m pip install pandas"

# Import necessary libraries 
import pandas as pd  
import pyodbc  
import warnings  

from IPython.display import HTML, display  

# hide a warning
warnings.filterwarnings("ignore", message="pandas only supports SQLAlchemy connectable")  


# Define the connection string  
conn_str = (  
    "DRIVER={ODBC Driver 18 for SQL Server};"  
    "SERVER=(localdb)\\LocalServer1;"  #enter a server name
    "DATABASE=master;"  # enter a database name
    "Trusted_Connection=yes;"  
)  

# Establish a connection to the database  
conn = pyodbc.connect(conn_str)  
  
# select the first 10 records  
query = "SELECT TOP 10 * FROM PropertySales;"  
  
# Use pandas to read the SQL query into a DataFrame  
df = pd.read_sql(query, conn)  
  
# Display the DataFrame if preferred 
#print(df)  

# Convert DataFrame to HTML  
html = df.to_html(classes='table-striped', escape=False)  
  
# Display the HTML with a scrollable container  
display(HTML(f'<div style="overflow-x: auto; width:100%">{html}</div>'))  
  
# Close the connection  
conn.close()

### GitHub Repository Structure  
  
**Repository**

**(1-3: this session)**  
1. **Branches (Parallel development)**  
    - Main (Production ready state)  
    - Feature Branches (New features, branched off the "Main" branch)
    - Bugfix Branches (Bug fixing, branched off the "Main" branch)
    
2. **Commits (record of changes made to the repository/files, project history)**  

3. **Pull Requests (Review changes, before integrating to the "Main" branch)**  
    - Code Review (Reviewers can provide feedback, request changes, or approve the changes.)
    - Discussions (Team members can ask questions, make comments)
    - Merge (Once a pull request is reviewed and approved, it can be merged into the main branch)


**(4-12: FYI)**

4. **Issues**  
    - Bug Reports  
    - Feature Requests  
    - Tasks  
5. **README.md**  
6. **License**  
7. **gitignore**  
8. **Wikis**  
9. **Projects**  
    - Kanban Board  
    - Columns: To Do, In Progress, Done  
    - Cards  
10. **Actions (CI/CD Workflows)**  
    - Workflows  
    - Jobs  
    - Steps  
11. **Releases**  
    - Tags  
    - Release Notes  
12. **Security**  
    - Dependabot Alerts  
    - Security Policies

### Git commands to run in Terminal:

Step 1 clone existing repository
- git clone https://github.com/yourusername/yourrepository.git  
- cd yourrepository  

Step 2 create/switch to dev branch

- git checkout -b dev       #if branch is new

- git checkout dev          #if exists


Step 3 add jupyter notebook
- git add your-notebook.ipynb  
- git commit -m "Add Jupyter notebook"  

Step 4 push branch to github
- git push origin dev

### GROUP TASK 2: Thoughts on GitHub in our team?

**Advantages**:

- Integration with EDF DataBricks through Databricks Repos
- Github Codespaces Subscription if preferred (lets you use an IDE on a VM directly on GitHub)
-
-
-

**Disadvantages**:

- Needs a local IDE setup (e.g. VSCode)
- GitHub Enterprise License (£16.88 per user per month)
-